@font-face {
  font-family: '72';
  src: url("fonts/72-Light.woff2") format("woff2");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: '72';
  src: url("fonts/72-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: '72';
  src: url("fonts/72-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: '72';
  src: url("fonts/72-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal; }